IP=mc.hypixel.net 
# ^ Server IP

PORT=25565 
# ^ Leave at 25565 unless u r pro gamer

USERNAME=xxxxxxxxxxxxxxxxx@xxxx.com
# ^ Email/Username

PASSWORD=xxxxxxxxxxxxxxxxx
# ^ Minecraft password

HypixelAPIKey=xxxxxxxxxxxxxxxxx
# ^ Do `/api new` on Hyipxel for this

TOKEN=xxxxxxxxxxxxxxxxx
# ^ Bot token

OUTPUTCHANNELID=xxxxxxxxxxxxxxxxx
# ^ Channel for regular messages

STAFFCHANNELID=xxxxxxxxxxxxxxxxx
# ^ Channel for staff messages

BLACKLISTCHANNELID=xxxxxxxxxxxxxxxxx
# Channel for blacklist messages

LOGCHANNELID=xxxxxxxxxxxxxxxxx
# ^ Channel for Minecraft chat logs

SERVERID=xxxxxxxxxxxxxxxxx
# ^ ID of your discord server

PREFIX=
# ^ Prefix for the bot's discord commands